.cardbox{
    width:700px;
    height:420px;
    margin:auto;
    border:0px solid;
    display: flex;
    justify-content:space-between;
    
    margin-bottom:30px;
}
.cardContent{
    margin-left:30px;
    width:40%;
}
.date{
    font-size:20px;
    font-weight: 800;
    margin-top:40px;
    margin-bottom:20px;
}
.button{
    border:0px;
    background-color: black;
    color:white;
    margin-top:20px;
    margin-bottom:20px;
    width:120px;
    height:40px;
    font-size:18px;
}
h1{
    font-size: 45px;
}
h4{
    
    font-size:23px;
margin-top:40px;
}
.cardLogo{
    margin-right:20px;
}.logoimg{
    margin-top:40px;
    margin-bottom:210px;
}
.Arrowimg{
    margin-top:50px;
}